<% if logged_in? %>
	<table class="front" summary="For logged-in users">
		<tr>
			<td class="main">
				<h1 class="micropost">What's up?</h1>
				<%= render 'shared/micropost_form' %>
				<%= render 'shared/feed' %>
			</td>
			<td class="sidebar round">
				<%= render 'shared/user_info' %>
				<%= render 'shared/stats' %>
			</td>
		</tr>
	</table>
<% else %>

<h1>JBL Sample App</h1>
<p>
  Willkommen im Schlaraffenland!
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>